@import "tailwindcss";

*::-webkit-scrollbar {
  width: 5px;
  background-color: #1e1e1e;
}
*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@font-face {
  font-family: 'poppins';
  src: url("./assets/Poppins-Medium.ttf");
}

.poppins{
  font-family: "poppins";
}
@font-face {
  font-family: 'quicksand';
  src: url("./assets/Quicksand-VariableFont_wght.ttf");
}

.quicksand{
  font-family: "quicksand";
}
@font-face {
  font-family: 'syne';
  src: url("./assets/Syne-VariableFont_wght.ttf");
}

.syne{
  font-family: "syne";
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.icon-animation {
  animation: fadeInScale 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-fill-mode: forwards;
}


.skeleton > span {
  position: relative;
  top: -2px;
}



.knight{
  position: relative;

}
.knight::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  background: #fff;
  z-index: -1;
  /* animation: scalebox 1s linear infinite; */
}

@keyframes scalebox {
  0%{
    scale: 0.5;
  }
  100%{
    scale: 1;
  }
}
